.tilt {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 150px;
  border-radius: .5em;
  margin-left: 1em;
  background: linear-gradient(0deg, rgba(237,231,232,1) 0%, rgba(182,182,186,1) 92%, rgba(182,182,182,1) 100%);
}

.icon {
  align-self: center;
}