html {
  background: linear-gradient(6deg, rgba(221,221,230,1) 0%, rgba(177,1,26,1) 39%, rgba(255,0,0,1) );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
@font-face {
  font-family: 'membra';
  src: local('membra'), url(./fonts/membra.ttf)format('truetype');
}
body {
  margin: 0;
  padding: 0;
  font-family: membra, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dfr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.dfc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

button {
  cursor: pointer;
}

#homeLink {
  display: block;
}

#profileLink {
  display: block;
}